.restaurant {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20;
    margin-right: 2px;
    width: 1000px;
    height: 600px;
    margin-left: -150px;
}

.restaurant h3 {
	float: left;
	margin-left: -130px;
}

.restaurant img {
	width: 280px;
	border-radius: 15px;
}